body {
    background-image: linear-gradient(to right top, #352ede, #005cf0, #007cf7, #0099f6, #44b2f0, #33c5f4, #3cd6f3, #5ae6ee, #3ff4d5, #6ffda7, #b3ff6c, #fff927);
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
                /* GROUP */
                .input-control3 {
                    
                    flex-direction: column;
                }
                
                .input-control3 input {
                    border: 2px solid #f0f0f0;
                    border-radius: 4px;
                    display: block;
                    font-size: 12px;
                    
                    display: inline;
                }
                
                
                .input-control3 .error {
                    color: #ff3860;
                    font-size: 9px;
                    height: 13px;
                }

            /* GENRE TEST */
            
            
            .input-control4 {
                    
                flex-direction: column;
            }
            
            .input-control4 input {
                border: 2px solid #f0f0f0;
                border-radius: 4px;
                display: block;
                font-size: 12px; 
                display: inline;
            }
            
            
            .input-control4 .error {
                color: #ff3860;
                font-size: 9px;
                height: 13px;
            }


            
            /* section TEST */
            
            .input-control2 select {
                border: 2px solid #f0f0f0;
                border-radius: 4px;
                display: flex;
                font-size: 12px;
                padding: 10px;
                width: 100%;
                outline: none;
                flex-direction: column;
                overflow: hidden;

            } 
            
            .input-control2 .error {
                color: #ff3860;
                font-size: 9px;
                height: 13px;
            }
            #error{
                color: #ff3860;
                font-size: 9px;
                height: 13px;
            }
            #error2{
                color: #ff3860;
                font-size: 9px;
                height: 13px;
            }